# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

#
*.tgz
*.pdf
*.png
.vscode/
kotipalo_leo_ex03/p04/temp.txt
gmon.out

kotipalo_leo_ex06/p01/lapackf90
kotipalo_leo_ex03/p02/mdmorse/c/atoms.out
kotipalo_leo_ex05/p01/temp.bin
kotipalo_leo_ex06/p01/evalues.datc
kotipalo_leo_project/circle_lengths.tsv
kotipalo_leo_project/circle_route.tsv
kotipalo_leo_project/cities_lengths.tsv
kotipalo_leo_project/cities_route.tsv
kotipalo_leo_project/square_lengths.tsv
kotipalo_leo_project/square_route.tsv
